@model List<WebApplication1.Models.WorksViewModel>
@{
    Layout = null;
}

<table>
    <tr>
        <th>客戶代號</th>
        <th>公司名稱</th>
        <th>聯絡人</th>
        <th>聯絡人職稱</th>
        <th>地址</th>
        <th>刪除</th>
    </tr>
    @foreach (var element in Model)
    {
        <tr>
            <td><a href="javascript:void(0)" name="Edit" data-customerid="@element.CustomerID">@element.CustomerID</a></td>
            <td>@element.CompanyName</td>
            <td>@element.ContactName</td>
            <td>@element.ContactTitle</td>
            <td>@element.Address</td>
            <td>Delete</td>
        </tr>
    }
</table>
<button name="Create">新增</button>
<div name="PartialView">
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/WorksList.js"></script>